.card {
  border: 1px solid grey;
  box-shadow: 2px 5px rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  margin: 10px;
  height: 250px;
}

.card h2 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}
